@model IEnumerable<WebModels.WebContent>

@{
 
 
}


<section class="section-spacing bottom-none inverse-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2><span>@Resources.Common.Gallery</span></h2>
                    @*<p>Sorem ipsum dolor sit amet, consectetur adipisicing Suscipit votas aperiam Sorem ipsum dolor consectur adipisicing elit.</p>*@
                </div>
            </div>
        </div>

        <div class="row">
            @Html.Action("_BoxGalleryType", "Navigation", new { area = "" })
        </div>
    </div>

    <div class="gallery-outer">
        <ul class="gallery-items">
            @foreach (var item in Model)
            {
                var img = item.Image != null ? item.Image : ApplicationService.NoImage;
                <li class="filtr-item" data-category="@item.WebModuleID">
                    <div class="gallery-inner">
                        <img src="@img" alt="@item.Title" title="@item.Title" />
                        <div class="gallery-overlay">
                            <a href="@img" class="venobox" data-gall="gallery"><i class="fa fa-picture-o"></i></a>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</section>
