@model WebModels.WebContact
@{
    var webmodule = (WebModule)ViewBag.WebModule;
    var moduletran = webmodule;

    TempData["Title"] = Utility.UseStringHasValue(webmodule.SeoTitle, webmodule.Title);
    TempData["Description"] = Utility.UseStringHasValue(webmodule.MetaDescription, webmodule.Description);
    TempData["Keywords"] = Utility.UseStringHasValue(webmodule.MetaKeywords, webmodule.SeoTitle);
}
<script>
    function OnFailureContact() {
        alert("@Html.Raw(Resources.Common.SendFaulty)");
    }
    function OnSuccessContact(data, status, xhr) {
        if (data.Success) {
            alert('@Html.Raw(Resources.Common.ThanksForContact)');
            $('#frmcontact')[0].reset();
        } else {
            alert(data.Error);
        }
    }
</script>

<section class="inner-area parallax-bg" style="background: url('/images/px-1.jpg')" data-type="parallax" data-speed="3">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-12">
                    <h4>@webmodule.Title</h4>
                    @Html.Action("_SiteMap", "Home", new { area = "" })

                </div>
            </div>
        </div>
    </div>
</section>
<section id="pagesection">
    <div class="container">
        <div class="contact-details pb-70">
            <div class="row" style="margin-top: 20px;">
                <div class="col-12 col-sm-12 col-md-7 col-lg-7">
                    <h3 class="title">Liên hệ với <span>Chúng tôi</span></h3>

                    @using (Ajax.BeginForm("_PubIndex", new { area = "ContentType" },
                            new AjaxOptions
                            {
                                OnSuccess = "OnSuccessContact",
                                OnFailure = "OnFailureContact"
                            }, new { id = "frmcontact" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="WebContentID" value="@ViewBag.ID" />
                        <input hidden name="Title" value="Liên hệ từ Omega Tours" />

                        <div class="messages"></div>
                        <div class="controls">

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    @Html.TextBoxFor(m => m.FullName, new { @placeholder = "Họ tên", @class = "form-control" })
                                    <div class="help-block with-errors tiny mt-2">
                                        @Html.ValidationMessageFor(m => m.FullName)
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email", @class = "form-control" })
                                    <div class="help-block with-errors tiny mt-2">
                                        @Html.ValidationMessageFor(m => m.Email)
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    @Html.TextBoxFor(m => m.Address, new { @placeholder = "Địa chỉ", @class = "form-control" })
                                    <div class="help-block with-errors tiny mt-2">
                                        @Html.ValidationMessageFor(m => m.Address)
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    @Html.TextBoxFor(m => m.Mobile, new { @placeholder = "Số điện thoại", @class = "form-control" })
                                    <div class="help-block with-errors tiny mt-2"></div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="contact-textarea">
                                        @Html.TextAreaFor(m => m.Body, new { @placeholder = "Nội dung", @class = "form-control", @rows = "4" })
                                        <div class="help-block with-errors tiny mt-2">
                                                @Html.ValidationMessageFor(m => m.Body)
                                        </div>
                                        <input type="submit" class="btn btn-theme mt-4 btn-send " value="Gửi">
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
                <div class="col-12 col-sm-12 col-md-5 col-lg-5">
                    <h3 class="title">LIÊN LẠC</h3>
                    <div class="service-item style-1 border-1px">
                        <div class="service-icon">
                            <i class="pe-7s-map"></i>
                        </div>
                        <div class="content">
                            <h5><a href="#">Thông tin liên hệ</a></h5>
                            <br />
                            <p>
                                <i class="fa fa-building-o"></i> Trụ sở chính: @Html.Action("_Description", "WebSimpleContent", new { key = "address-one", area = "" })
                                <br />
                                <i class="fa fa-location-arrow"></i> Chi nhánh hà nội: @Html.Action("_Description", "WebSimpleContent", new { key = "address-two", area = "" })
                                <br />
                                <i class="fa fa-phone"></i> @Html.Action("_Description", "WebSimpleContent", new { key = "hotline", area = "" })
                                <br />
                                <i class="fa fa-phone"></i> @Html.Action("_Description", "WebSimpleContent", new { key = "hotline2", area = "" })
                            </p>

                        </div>
                    </div>
                    <div class="service-item style-1 border-1px">
                        <div class="service-icon">
                            <i class="pe-7s-clock"></i>
                        </div>
                        <div class="content">
                            <h5><a href="#">Giờ làm việc</a></h5>
                            <br />
                            @Html.Raw(Html.Action("_Body", "WebSimpleContent", new { key = "workingtime", area = "" }))
                        </div>
                    </div>
                    <div class="service-item style-1 border-1px">
                        <div class="service-icon">
                            <i class="pe-7s-mail-open"></i>
                        </div>
                        <div class="content">
                            <h5><a href="#">Email</a></h5>
                            <p>@Html.Action("_Description", "WebSimpleContent", new { key = "email", area = "" })  </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<section class="p-0">
        <div class="map">
            @Html.Action("_Body", "WebSimpleContent", new { area = "", key = "maps", height = "450", allowfullscreen = "" })
        </div>
    </section>*@
</section>
