@model WebModels.WebContact

<script>
    function OnFailureContactTour() {
        alert("@Html.Raw(Resources.Common.SendFaulty)");
    }
    function OnSuccessContactTour(data, status, xhr) {
        if (data.Success) {
            alert('@Html.Raw(Resources.Common.ThanksForContact)');
            $('#frmcontact')[0].reset();
        } else {
            alert(data.Error);
        }
    }
</script>


@using (Ajax.BeginForm("_PubContact", new { area = "ContentType" },
                        new AjaxOptions
                        {
                            OnSuccess = "OnSuccessContactTour",
                            OnFailure = "OnFailureContactTour"
                        }, new { id = "frmcontact" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="WebContentID" value="@ViewBag.ContentID" />
    <input type="hidden" name="Title" value="Email liên hệ từ Tour" />
    <div class="form-row id="sidebar-form">
        <div class="form-group col-md-6">
            @Html.TextBoxFor(m => m.FullName, new { @placeholder = "* " + @Resources.Common.FullName, @class = "form-control" })
        </div>
        <div class="form-group col-md-6">
            @Html.TextBoxFor(m => m.Email, new { @placeholder = "* " + @Resources.Common.Email, @class = "form-control" })
        </div>
        <div class="form-group col-md-12">
            @Html.TextBoxFor(m => m.Mobile, new { @placeholder = @Resources.Common.Mobile, @class = "form-control" })
        </div>
        <div class="form-group col-md-12">
            @Html.TextBoxFor(m => m.Address, new { @placeholder = @Resources.Common.Address, @class = "form-control" })
        </div>
        <div class="form-group col-md-12">
            <div class="contact-textarea">
                @Html.TextAreaFor(m => m.Body, new { @placeholder = "* " + @Resources.Common.Content, @class = "form-control", @rows = "4" })
                <button type="submit" class="btn btn-theme mt-4"> @Resources.Common.BookNow</button>
            </div>
        </div>

    </div>

}
