@model WebModels.WebContact
@{
    var webmodule = (WebModule)ViewBag.WebModule;
    var moduletran = webmodule;

    TempData["Title"] = Utility.UseStringHasValue(webmodule.SeoTitle, webmodule.Title);
    TempData["Description"] = Utility.UseStringHasValue(webmodule.MetaDescription, webmodule.Description);
    TempData["Keywords"] = Utility.UseStringHasValue(webmodule.MetaKeywords, webmodule.SeoTitle);
}
<script>
    function OnFailureContact() {
        alert("@Html.Raw(Resources.Common.SendFaulty)");
    }
    function OnSuccessContact(data, status, xhr) {
        if (data.Success) {
            alert('@Html.Raw(Resources.Common.ThanksForContact)');
            $('#frmcontact')[0].reset();
        } else {
            alert(data.Error);
        }
    }
</script>

<section class="inner-area parallax-bg" style="background: url('/images/px-1.jpg')" data-type="parallax" data-speed="3">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-12">
                    <h4>@webmodule.Title</h4>
                    @Html.Action("_SiteMap", "Home", new { area = "" })

                </div>
            </div>
        </div>
    </div>
</section>
<section id="pagesection">
    <div class="container">
        <div class="contact-details pb-70">
            <div class="row" style="margin-top: 20px;">
                <div class="col-12 col-sm-12 col-md-7 col-lg-7">
                    <h3 class="title">Liên hệ với <span>Chúng tôi</span></h3>

                    @using (Ajax.BeginForm("_PubIndex", new { area = "ContentType" },
                            new AjaxOptions
                            {
                                OnSuccess = "OnSuccessContact",
                                OnFailure = "OnFailureContact"
                            }, new { id = "frmcontact" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="WebContentID" value="@ViewBag.ID" />
                        <input hidden name="Title" value="Liên hệ từ Omega Tours" />

                        <div class="messages"></div>
                        <div class="controls">

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    @Html.TextBoxFor(m => m.FullName, new { @placeholder = "* " + @Resources.Common.FullName, @class = "form-control" })
                                    <div class="help-block with-errors tiny mt-2"></div>
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.TextBoxFor(m => m.Email, new { @placeholder = "* " + @Resources.Common.Email, @class = "form-control" })
                                    <div class="help-block with-errors tiny mt-2"></div>
                                </div>
                                <div class="form-group col-md-12">
                                    @Html.TextBoxFor(m => m.Address, new { @placeholder = @Resources.Common.Address, @class = "form-control" })
                                    <div class="help-block with-errors tiny mt-2"></div>
                                </div>
                                <div class="form-group col-md-12">
                                    @Html.TextBoxFor(m => m.Mobile, new { @placeholder = @Resources.Common.Mobile, @class = "form-control" })
                                    <div class="help-block with-errors tiny mt-2"></div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="contact-textarea">
                                        @Html.TextAreaFor(m => m.Body, new { @placeholder = "* " + @Resources.Common.Content, @class = "form-control", @rows = "4" })
                                        <div class="help-block with-errors tiny mt-2"></div>
                                        <input type="submit" class="btn btn-theme mt-4 btn-send disabled" value="Send message">
                                    </div>
                                </div>
                                <div id="form-messages"></div>
                            </div>
                        </div>

                    }
                </div>
                <div class="col-12 col-sm-12 col-md-5 col-lg-5">
                    <h3 class="title">Get in <span>Touch</span></h3>
                    <div class="service-item style-1 border-1px">
                        <div class="service-icon">
                            <i class="pe-7s-map"></i>
                        </div>
                        <div class="content">
                            <h5><a href="#">Contact Info</a></h5>
                            <p> 829, Hasan street ground <br>melbourne, Australia.</p>
                        </div>
                    </div>
                    <div class="service-item style-1 border-1px">
                        <div class="service-icon">
                            <i class="pe-7s-clock"></i>
                        </div>
                        <div class="content">
                            <h5><a href="#">Business Hours</a></h5>
                            <p>Monday-Friday: 10am to 8pm <br>Saturday: 11am to 3pm</p>
                        </div>
                    </div>
                    <div class="service-item style-1 border-1px">
                        <div class="service-icon">
                            <i class="pe-7s-mail-open"></i>
                        </div>
                        <div class="content">
                            <h5><a href="#">Email</a></h5>
                            <p><a href="#">info@bdCoder.com</a> <br> <a href="#">set-info@bdCoder.com</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="p-0">
        <div class="map">
            @Html.Action("_Body", "WebSimpleContent", new { area = "", key = "maps", height = "450", allowfullscreen = "" })
        </div>
    </section>
</section>
<section class="client-section bg-f8 style-2 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="client_carousel" class="owl-carousel">
                    <div class="item">
                        <div class="client-img-item">
                            <img src="images/partner/1.png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-img-item">
                            <img src="images/partner/2.png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-img-item">
                            <img src="images/partner/3.png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-img-item">
                            <img src="images/partner/4.png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-img-item">
                            <img src="images/partner/5.png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-img-item">
                            <img src="images/partner/6.png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-img-item">
                            <img src="images/partner/2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*<li class="list-inline-item"><a href="https://www.facebook.com/Omegatours.vn/"><i class="fa fa-facebook-f"></i></a></li>
    <li class="list-inline-item"><a href="https://www.linkedin.com/company/omegatoursvietnam"><i class="fa fa-linkedin"></i></a></li>
    <li class="list-inline-item"><a href="https://www.instagram.com/omegatours.vietnam/"><i class="fa fa-instagram"></i></a></li>*@
<!-- Inner Section Start -->
