@model IList<WebSlide>
@{
    var style = "active";
}

<section id="sectioncarousel">
    <div id="carouselExampleIndicators" class="carousel carousel-home2  slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner " role="listbox">
            @foreach (var m in Model)
            {
                <div class="carousel-item @style">
                    <img class="d-block img-fluid" src="@m.Image" alt="@m.Title" title="@m.Title">
                    <div class="carousel-caption justify-content-center  mb-lg-4 mb-0 align-items-center text-center">
                        <div class="toggleCaption">
                            <h2 class="white shadow-text  align-middle"><a class="white" href="@m.Link" title="@m.Title"> @m.Title</a> </h2>
                        </div>
                        <div class="toggleButton">
                            <h4 class="white shadow-text align-middle">@m.Description</h4>
                        </div>
                    </div>
                </div>
                if (style == "active")
                {
                    style = "";
                }

            }

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <div class="chapter2">
            <img class="curve2 d-none d-xl-block" src="~/Content/themes/web/assets/svgs/curve.svg" alt="">
        </div>
    </div>
</section>
