@model IEnumerable<WebModels.WebContent>
@{
}


<section id="section4">
    <img class="curve3" src="assets/svgs/curve2.svg" alt="">
    <div class="content tours-homepage">
        <div class="container">
            <div class="text-center">
                <h3 class="black front bold text-center">@Resources.Common.MostFavoriteTrips</h3>
                <div class="separator text-center svgcenter"></div>
                <h5 class="primary-color text-center mb-5">@Resources.Common.MostFavoriteTripsDes </h5>
            </div>
            <div class="row ">
                @foreach (var item in Model)
                {
                    var img = string.IsNullOrEmpty(item.Image) ? ApplicationService.NoImage : item.Image;
                    var urlContent = Url.Action("Detail", "Home", new
                    {
                        metatitle = item.MetaTitle != null ? item.MetaTitle : "web",
                        m_metatitle = item.WebModule.MetaTitle != null ? item.WebModule.MetaTitle : "web",
                        area = ""
                    });

                    var urlModule = Url.Action("Index", "Home", new
                    {
                        metatitle = item.WebModule.MetaTitle != null ? item.WebModule.MetaTitle : "web",
                        area = ""
                    });


                    <div class="col-xs-12 col-md-6 col-lg-4 mb-4">
                        <div class="card ">
                            <small class="white front"><span class="fa fa-clock mr-2 white"></span><strong>@item.ProductInfo.Duration</strong><br>@Resources.Common.Days</small>
                            <a class="img-card" href="@urlContent" title="@item.Title">
                                <img src="@img" alt="@item.Title" title="@item.Title" />
                            </a>
                            <div class="card-content">
                                <div>
                                    <a class="btn btn-primary px-3 btn-sm float-left" href="@urlModule" role="button">@item.WebModule.Title</a>
                                </div>
                                <h6 class="primary-color text-right"> &nbsp; </h6>
                                <h2 class="black">
                                    <a href="@urlContent" title="@item.Title">
                                        @if (!string.IsNullOrWhiteSpace(item.Description))
                                        {
                                            @Html.RawSubString(item.Title, 50)
                                        }
                                    </a>
                                </h2>

                                <p class="">
                                    @if (!string.IsNullOrWhiteSpace(item.Description))
                                    {
                                        @Html.RawSubString(item.Description, 115)
                                    }
                                    <a href="@urlContent" title="@item.Title"><span>@Resources.Common.SeeMore</span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>

    <img class="curve2" src="~/Content/themes/web/assets/svgs/curve.svg" alt="">

</section>
<!-- end featured tour -->
