@model IEnumerable<WebModels.WebContent>
@{
    var webmodule = (WebModule)ViewBag.WebModule;
    ViewBag.Title = "_TopBlogTravel";
    Layout = "";

    var urlModule = Url.Action("Index", "Home", new
    {
        metatitle = webmodule.MetaTitle != null ? webmodule.MetaTitle : "web",
        area = ""
    });
}


<!-- Blog Section Start -->
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h4>Our latest blog</h4>
                <h2>Touran <span>Latest</span> Blog</h2>
                <p>Consectetur adipisicing elit. Excepturi nemo tenetur veniam repellat earum inventore modi omnis.</p>
            </div>
        </div>
        <div class="row">

            @foreach (var item in Model)
            {
                var url = Url.Action("Detail", "Home", new
                {
                    metatitle = item.MetaTitle != null ? item.MetaTitle : "web",
                    m_metatitle = webmodule.MetaTitle != null ? webmodule.MetaTitle : "web",
                    area = ""
                });
                <div class="col-md-6 col-lg-4">
                    <div class="blog-post">
                        <div class="thumb">
                            <img alt="" src="@item.Image" alt="@item.Title" title="@item.Title">
                            <div class="content">
                                <a href=" @url " title=" @item.Title ">
                                    <h3>
                                        @Html.RawSubString(item.Title, 50)
                                    </h3>
                                    <div class="meta-box">
                                        <div class="admin-post">OmegaTourNoiDia</div>
                                        <div class="inner">
                                            <div class="date">
                                                <i class="fa fa-calendar-plus-o"></i> @item.CreatedDate.Value.Day @item.CreatedDate.Value.ToString("MMM")
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <a href="@url" class="read-btn">
                            Continue Reading
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
<!-- Blog Section End -->