@model WebContent
@{
    var item = Model;
    var webmodule = item.WebModule;
    var urlcat = webmodule.URL;
    var img = string.IsNullOrEmpty(item.Image) ? ApplicationService.NoImage : item.Image;

    if (string.IsNullOrEmpty(webmodule.URL) || string.IsNullOrWhiteSpace(webmodule.URL))
    {
        urlcat = Url.Action("Index", "Home", new { metatitle = webmodule.MetaTitle != null ? webmodule.MetaTitle : "omegatours", area = "" });
    }

    var urlcatparent = webmodule.Parent.URL;
    if (string.IsNullOrEmpty(webmodule.Parent.URL) || string.IsNullOrWhiteSpace(webmodule.Parent.URL))
    {
        urlcatparent = Url.Action("Index", "Home", new { metatitle = webmodule.Parent.MetaTitle != null ? webmodule.Parent.MetaTitle : "omegatours", area = "" });
    }

    var url = Url.Action("Detail", "Home", new
    {
        metatitle = item.MetaTitle != null ? item.MetaTitle : "web",
        m_metatitle = webmodule.MetaTitle != null ? webmodule.MetaTitle : "web",
        area = ""
    });

    TempData["Title"] = Utility.UseStringHasValue(item.SeoTitle, item.Title);
    TempData["Description"] = Utility.UseStringHasValue(item.MetaDescription, item.Description);
    TempData["Keywords"] = Utility.UseStringHasValue(item.MetaKeywords, item.SeoTitle);
    TempData["URL"] = ApplicationService.Domain + url;
    TempData["Cat"] = webmodule.Title;
}
<section class="inner-area parallax-bg" style="background: url('/images/px-1.jpg')">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-12">
                    <h4>@item.Title</h4>

                    @Html.Action("_SiteMap", "Home", new { area = "" })
                </div>
            </div>
        </div>
    </div>
</section>

<section class="shop-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="shop-single">
                    <div class="row">
                        <div class="col-lg-6">

                            @Html.Action("_SlideContent", "Tour", new { area = "ContentType", id = item.ID })

                        </div>
                        <div class="col-lg-6">
                            <div class="content">
                                <h1>@item.Title</h1>
                                <h4>
                                    @String.Format("{0:N0}", item.ProductInfo.Price)₫

                                    @if (item.ProductInfo.Discount > 0)
                                    {
                                        <span>  @String.Format("{0:N0}", item.ProductInfo.PriceOld)₫ </span>
                                    }
                                </h4>
                                <div class="transportation">
                                    @{
                                        var lstTrans = string.IsNullOrEmpty(item.ProductInfo.Transportation) ? new List<string>() : item.ProductInfo.Transportation.Split(',').ToList();

                                        foreach (var trans in lstTrans)
                                        {

                                            if (!string.IsNullOrWhiteSpace(trans))
                                            {
                                                <div class="btn"> <i class="fa fa-@trans"></i> </div>
                                            }
                                        }
                                    }
                                </div>
                                <ul class="info">
                                    <li>
                                        <a href="#"><i class="fa fa-calendar"></i> &nbsp; @item.ProductInfo.DepartureTime </a>
                                        <br />
                                        <a href="#"><i class="fa fa-calendar-check-o"></i>  &nbsp; @item.ProductInfo.TourTime</a>
                                    </li>
                                </ul>
                                <p>
                                    @Html.Raw(item.Description)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section style="padding-top: 30px;">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs shop-tab-menu">
                        <li class="nav-item"><a href="" data-target="#home1" data-toggle="tab" class="nav-link active">LỊCH TRÌNH TOUR</a></li>
                        <li class="nav-item"><a href="" data-target="#profile1" data-toggle="tab" class="nav-link">Chính sách Tour</a></li>
                    </ul>
                    <br>
                    <div class="tab-content">
                        <div id="home1" class="tab-pane fade active show">
                            <div class="post-content">
                                @Html.Raw(item.Body)
                            </div>
                        </div>
                        <div id="profile1" class="tab-pane fade">
                            <div class="post-content">
                                @Html.Raw(item.ProductInfo.Policy)
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@Html.Action("_OtherTour", "Tour", new { area = "ContentType", webContentID = item.ID, type = 0 })
@Html.Action("_PubContact", "Contact", new { area = "ContentType", id = item.ID })
