@model IList<WebModels.WebContent>
@*Tour*@
@{
    var webmodule = (WebModule)ViewBag.WebModule;
    var urlcat = webmodule.URL;
    if (string.IsNullOrEmpty(webmodule.URL) || string.IsNullOrWhiteSpace(webmodule.URL))
    {
        urlcat = Url.Action("Index", "Home", new { metatitle = webmodule.MetaTitle != null ? webmodule.MetaTitle : "web", area = "" });
    }
    TempData["Title"] = Utility.UseStringHasValue(webmodule.SeoTitle, webmodule.Title);
    TempData["Description"] = Utility.UseStringHasValue(webmodule.MetaDescription, webmodule.Description);
    TempData["Keywords"] = Utility.UseStringHasValue(webmodule.MetaKeywords, webmodule.SeoTitle);
    TempData["URL"] = ApplicationService.Domain + urlcat;
    TempData["Cat"] = webmodule.Title;
}

<!-- Inner Section Start -->
<section class="inner-area parallax-bg" style="background: url('/images/px-1.jpg')">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-12">
                    <h4>@webmodule.Title</h4>
                    <p> Trang chủ <a href="@urlcat">@webmodule.Parent.Title</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Inner Section End -->
<!-- Special Packages Section Start -->
<section class="special-packages-sec pt-50 pb-60">
    <div class="container">
        <div class="row grid-mb">
            @foreach (var item in Model)
            {
                var img = string.IsNullOrEmpty(item.Image) ? ApplicationService.NoImage : item.Image;
                var urlContent = Url.Action("Detail", "Home", new
                {
                    metatitle = item.MetaTitle != null ? item.MetaTitle : "web",
                    m_metatitle = item.WebModule.MetaTitle != null ? item.WebModule.MetaTitle : "web",
                    area = ""
                });

                <div class="col-md-4">
                    <div class="special-packages">
                        <div class="thumb">
                            <a href="@urlContent" alt="@item.Title"> </a>
                            <img src="@img" alt="@item.Title">
                            @if (item.ProductInfo.Discount > 0)
                            {
                                <div class="offer-price"> Off @item.ProductInfo.Discount%</div>
                            }
                            <div class="post-title-box">

                                <div class="title">
                                    <a href="@urlContent" alt="@item.Title">  <h2>  @item.Title </h2> </a>
                                </div>

                                <div class="title-box">
                                    <h4> @String.Format("{0:N0}", item.ProductInfo.PriceOld)₫</h4>
                                </div>
                                <div class="price-box">
                                    @if (item.ProductInfo.Discount > 0)
                                    {
                                        <h5> @String.Format("{0:N0}", item.ProductInfo.Price)₫ </h5>
                                    }
                                </div>

                            </div>
                        </div>
                        <div class="content">
                            <div class="infor">
                                <div class="pull-left" style="width: 50%;">
                                    <ul class="info">
                                        <li>
                                            <a href="#"><i class="fa fa-calendar"></i> @item.ProductInfo.DepartureTime </a>
                                            <br />
                                            <a href="#"><i class="fa fa-calendar-check-o"></i>@item.ProductInfo.TourTime</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="pull-left" style="width: 50%; text-align: right; margin-top: 8px;">
                                    @{
                                        var lstTrans = string.IsNullOrEmpty(item.ProductInfo.Transportation) ? new List<string>() : item.ProductInfo.Transportation.Split(',').ToList();

                                        foreach (var trans in lstTrans)
                                        {

                                            if (!string.IsNullOrWhiteSpace(trans))
                                            {
                                                <div class="btn"> <i class="fa fa-@trans"></i> </div>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="control-bot" class="control control-bot control-classer">
                    @if (ViewBag.TotalItemCount > 12)
                    {
                        <div class="pager">
                            @Html.Raw(Html.Pager(
                            new Options
                            {
                                PageSize = 12,
                                TotalItemCount = ViewBag.TotalItemCount,
                                CurrentPage = ViewBag.CurrentPage,
                                ItemTexts = new ItemTexts() { Next = "", Previous = "" },
                                ItemIcon = new ItemIcon() { First = "fa fa-angle-double-left", Previous = "fa fa-angle-left", Next = "fa fa-angle-right", Last = "fa fa-angle-double-right" },
                                TooltipTitles = new TooltipTitles() { Next = Resources.Common.NextPage, Previous = Resources.Common.PreviousPage },
                                Size = Size.normal,
                                IsShowControls = true,
                                Alignment = Alignment.centered,
                                IsShowFirstLast = false,
                                IsShowPages = true
                            }, new RouteValueDictionary(ViewBag.RouteValues)))
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Special Packages Section End -->