@model IList<WebModels.WebContent>
@*Tour*@
@{
    var webmodule = (WebModule)ViewBag.WebModule;
    var urlcat = webmodule.URL;
    if (string.IsNullOrEmpty(webmodule.URL) || string.IsNullOrWhiteSpace(webmodule.URL))
    {
        urlcat = Url.Action("Index", "Home", new { metatitle = webmodule.MetaTitle != null ? webmodule.MetaTitle : "web", area = "" });
    }
    TempData["Title"] = Utility.UseStringHasValue(webmodule.SeoTitle, webmodule.Title);
    TempData["Description"] = Utility.UseStringHasValue(webmodule.MetaDescription, webmodule.Description);
    TempData["Keywords"] = Utility.UseStringHasValue(webmodule.MetaKeywords, webmodule.SeoTitle);
    TempData["URL"] = ApplicationService.Domain + urlcat;
    TempData["Cat"] = webmodule.Title;
}


<div class="tour-title not-fixed center-image">

    <img class="w-100 h-100" src="@webmodule.Backgroud" alt="@webmodule.Title">
    <h1 class="white text-center front shadow-text center-text">@webmodule.Title</h1>
    @*<img class="curve2 front" src="~/Content/themes/web/assets/svgs/curve.svg" alt="">*@

</div>
<!-- End section 1-->
<!-- Section 3 Tours-->

<section id="section3" class="tour-list-sidebar tour-search-3-cols-card">
    <div class="container-fluid">
        <div class="row">
            @Html.Action("_SiteMap", "Home", new { area = "" })
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-3 order-lg-first order-last mt-4 mt-lg-0">
               
                @Html.Action("_FrmSearchDetail", "Home", new { area = "ContentType"})
                @*@Html.Partial("_QuickContact")*@

                @Html.Action("_Adv", "Advertisement", new { area = "", position = "adv_left_tour" })

            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        var img = string.IsNullOrEmpty(item.Image) ? ApplicationService.NoImage : item.Image;
                        var urlContent = Url.Action("Detail", "Home", new
                        {
                            metatitle = item.MetaTitle != null ? item.MetaTitle : "web",
                            m_metatitle = item.WebModule.MetaTitle != null ? item.WebModule.MetaTitle : "web",
                            area = ""
                        });

                        var urlModule = Url.Action("Index", "Home", new
                        {
                            metatitle = item.WebModule.MetaTitle != null ? item.WebModule.MetaTitle : "web",
                            area = ""
                        });


                        <div class="col-xs-12 col-md-6 col-lg-4 mb-4">
                            <div class="card ">
                                <small class="white front"><span class="fa fa-clock mr-2 white"></span>&nbsp;<strong>@item.ProductInfo.Duration</strong><br>@Resources.Common.Days</small>
                                <a class="img-card" href="@urlContent" title="@item.Title">
                                    <img src="@img" alt="@item.Title" title="@item.Title" />
                                </a>
                                <div class="card-content">
                                    <div>
                                        <a class="btn btn-primary px-3 btn-sm float-left" href="@urlModule" role="button">@item.WebModule.Title</a>
                                    </div>
                                    <h6 class="primary-color text-right"> &nbsp; </h6>
                                    <h2 class="black">
                                        <a href="@urlContent" title="@item.Title">
                                            @if (!string.IsNullOrWhiteSpace(item.Description))
                                            {
                                                @Html.RawSubString(item.Title, 50)
                                            }
                                        </a>
                                    </h2>
                                    <p class="">
                                        @if (!string.IsNullOrWhiteSpace(item.Description))
                                        {
                                            @Html.RawSubString(item.Description, 80)
                                        }
                                        <a href="@urlContent" title="@item.Title"><span>@Resources.Common.SeeMore</span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div id="control-bot" class="control control-bot control-classer">
                    @if (ViewBag.TotalItemCount > 12)
                    {
                        <div class="pager">
                            @Html.Raw(Html.Pager(
                            new Options
                            {
                                PageSize = 12,
                                TotalItemCount = ViewBag.TotalItemCount,
                                CurrentPage = ViewBag.CurrentPage,
                                ItemTexts = new ItemTexts() { Next = "", Previous = "" },
                                ItemIcon = new ItemIcon() { First = "fa fa-angle-double-left", Previous = "fa fa-angle-left", Next = "fa fa-angle-right", Last = "fa fa-angle-double-right" },
                                TooltipTitles = new TooltipTitles() { Next = Resources.Common.NextPage, Previous = Resources.Common.PreviousPage },
                                Size = Size.normal,
                                IsShowControls = true,
                                Alignment = Alignment.centered,
                                IsShowFirstLast = false,
                                IsShowPages = true
                            }, new RouteValueDictionary(ViewBag.RouteValues)))
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


</section><!-- End section 3 tours-->
