@model WebContent
@{
    var item = Model;
    var webmodule = item.WebModule;
    var urlcat = webmodule.URL;
    var background = String.IsNullOrEmpty(webmodule.Image) ? "/content/themes/web/img/bg-title1.png" : webmodule.Image;
    var codecolor = String.IsNullOrEmpty(webmodule.CodeColor) ? "#b200b2" : webmodule.CodeColor;
    var bgColor = WEB.Areas.ContentType.Controllers.ArticleController.GetBGColor(codecolor);
    if (string.IsNullOrEmpty(webmodule.URL) || string.IsNullOrWhiteSpace(webmodule.URL))
    {
        urlcat = Url.Action("Index", "Home", new { metatitle = webmodule.MetaTitle != null ? webmodule.MetaTitle : "web", area = "" });
    }
    var url = Url.Action("Detail", "Home", new
    {
        metatitle = item.MetaTitle != null ? item.MetaTitle : "web",
        m_metatitle = webmodule.MetaTitle != null ? webmodule.MetaTitle : "web",
        area = ""
    });

    TempData["Title"] = Utility.UseStringHasValue(item.SeoTitle, item.Title);
    TempData["Description"] = Utility.UseStringHasValue(item.MetaDescription, item.Description);
    TempData["Keywords"] = Utility.UseStringHasValue(item.MetaKeywords, item.SeoTitle);

    TempData["URL"] = ApplicationService.Domain + url;
    TempData["Cat"] = webmodule.Title;
}
<section class="inner-area parallax-bg" style="background: url('/images/px-1.jpg')" data-type="parallax" data-speed="3">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-12">
                    <h4>@webmodule.Title</h4>
                    @Html.Action("_SiteMap", "Home", new { area = "" })
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="blog-details">
                    <div class="details-content mb-40">
                        <h4>@item.Title</h4>
                        @Html.Raw(item.Body)
                    </div>
                    <!-- End Blog Comments -->
                    <div class="mb-5 mt-5">
                        <h4>Book Tour</h4>
                        <div class="border-style-2"></div>
                    </div>
                    @Html.Action("_PubContact", "Contact", new { area = "ContentType", id = item.ID })
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="theme-sidebar">

                    <div class="widget search-sidebar">
                        <div class="title-box">
                            <h3>Search <span>Here</span></h3>
                        </div>
                        <form class="search-box" role="search">
                            <div class="form-group">
                                <input type="text" placeholder="Search" class="form-control">
                                <i class="fa fa-search form-control-feedback"></i>
                            </div>
                        </form>
                    </div>

                    <div class="widget">
                        <div class="title-box">
                            <h3>Categories <span></span></h3>
                        </div>
                        <div class="cat-item">
                            <ul>
                                <li><a href="#">Holidays</a><span>4</span></li>
                                <li><a href="#">Vacation</a><span>24</span></li>
                                <li><a href="#">Others</a><span>30</span></li>
                                <li><a href="#">Summer</a><span>50</span></li>
                                <li><a href="#">Winter</a><span>5</span></li>
                            </ul>
                        </div>
                    </div>

                    <div class="widget">
                        <div class="title-box">
                            <h3>Recent <span>posts</span></h3>
                        </div>
                        @Html.Action("_OtherNews", "Article", new { area = "ContentType", id = item.ID, isNew = false })

                    </div>

                    <div class="widget">
                        @Html.Action("_TopDestinations", "Destinations", new { area = "ContentType", webmoduleId = 0, webContentId = 0 })

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


@*
    @Html.Action("_OtherNews", "Article", new { area = "ContentType", id = item.ID })
        @Html.Action("_GetTagByContentID", "Home", new { area = "", id = item.ID })
        @Html.Action("_GetDestinations", "Article", new { area = "ContentType", id = 0 })

        @Html.Action("_Adv", "Advertisement", new { area = "", position = "adv_left_tour" })
*@