@model IEnumerable<WebModels.WebContent>
@{
    var webmodule = (WebModule)ViewBag.WebModule;
    var moduletran = webmodule;
    var background = String.IsNullOrEmpty(webmodule.Image) ? "/content/themes/web/img/bg-title1.png" : webmodule.Image;
    var codecolor = String.IsNullOrEmpty(webmodule.CodeColor) ? "#b200b2" : webmodule.CodeColor;
    var urlcat = webmodule.URL;
    if (string.IsNullOrEmpty(webmodule.URL) || string.IsNullOrWhiteSpace(webmodule.URL))
    {
        urlcat = Url.Action("Index", "Home", new { metatitle = webmodule.MetaTitle != null ? webmodule.MetaTitle : "web", area = "" });
    }
    TempData["Title"] = Utility.UseStringHasValue(webmodule.SeoTitle, webmodule.Title);
    TempData["Description"] = Utility.UseStringHasValue(webmodule.MetaDescription, webmodule.Description);
    TempData["Keywords"] = Utility.UseStringHasValue(webmodule.MetaKeywords, webmodule.SeoTitle);

    TempData["URL"] = ApplicationService.Domain + urlcat;
    TempData["Cat"] = webmodule.Title;
}

<div class="tour-title not-fixed ">

    <img class="w-100 h-100" src="@webmodule.Backgroud" alt="@webmodule.Title">
    <h1 class="white text-center front shadow-text center-text">@webmodule.Title</h1>
    @*<img class="curve2 front" src="~/Content/themes/web/assets/svgs/curve.svg" alt="">*@

</div>

<section id="section3" class="tour-list-sidebar tour-list-sidebar-2-col">
   
    <div class="container-fluid">
        @Html.Action("_SiteMap", "Home", new { area = "" })
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-3 ml-lg-5 order-lg-first order-last mt-3 mt-lg-0">
                @Html.Action("_TopDestinations", "Destinations", new { area = "ContentType", webmoduleId = 0, webContentId = 0 })

                @*@Html.Partial("_QuickContact")*@

                <div class=" mt-4">
                    @Html.Action("_Adv", "Advertisement", new { area = "", position = "adv_left_destination" })
                </div>
            </div>

            <div class="col-xs-12 col-md-12 col-lg-8   single-tour">
                <div class="row">
                    <div class="col-lg-12 travel-left">


                        @foreach (var item in Model)
                        {
                            var img = string.IsNullOrEmpty(item.Image) ? ApplicationService.NoImage : item.Image;
                            var url = Url.Action("Detail", "Home", new
                            {
                                metatitle = item.MetaTitle != null ? item.MetaTitle : "web",
                                m_metatitle = webmodule.MetaTitle != null ? webmodule.MetaTitle : "web",
                                area = ""
                            });
                            <div class="single-travel media mb-5">
                                <img class="img-fluid d-flex  mr-3 " src="@img" alt="@item.Title" title="@item.Title">
                                <div class="dates tiny white">
                                    <span>@item.CreatedDate.Value.Day</span>
                                    <p class="white  text-center">@item.CreatedDate.Value.ToString("MMM")</p>
                                </div>
                                <div class="media-body mt-sm-0 mt-3  align-self-center">
                                    <a class="title-blog black" href="@url" title="@item.Title">
                                        <h2 class="mt-0">
                                            @Html.RawSubString(item.Title, 50)
                                        </h2>
                                    </a>

                                    <p class="desc-blog">
                                        @if (!string.IsNullOrWhiteSpace(item.Description))
                                        {
                                            @Html.RawSubString(item.Description, 320)
                                        }
                                    </p>
                                    <div class="meta-bottom d-flex justify-content-between">
                                        @*<p class="primary-color"><span class="far primary-color fa-heart"></span></p>*@
                                        <p class="primary-color pull-right"> @Resources.Common.SeeMore ... <span class="far primary-color"></span> </p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    <div id="control-bot" class="control control-bot control-classer">
                        @if (ViewBag.TotalItemCount > 12)
                        {
                            <div class="pager">
                                @Html.Raw(Html.Pager(
                            new Options
                            {
                                PageSize = 12,
                                TotalItemCount = ViewBag.TotalItemCount,
                                CurrentPage = ViewBag.CurrentPage,
                                ItemTexts = new ItemTexts() { Next = "", Previous = "" },
                                ItemIcon = new ItemIcon() { First = "fa fa-angle-double-left", Previous = "fa fa-angle-left", Next = "fa fa-angle-right", Last = "fa fa-angle-double-right" },
                                TooltipTitles = new TooltipTitles() { Next = Resources.Common.NextPage, Previous = Resources.Common.PreviousPage },
                                Size = Size.normal,
                                IsShowControls = true,
                                Alignment = Alignment.centered,
                                IsShowFirstLast = false,
                                IsShowPages = true
                            }, new RouteValueDictionary(ViewBag.RouteValues)))
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>