@model IEnumerable<WebContent>

<!-- Funfact Section Start -->
<section class="funfact-section over-layer-black pt-80 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="video-sec">
                    <h2>Travel <span>Award</span> Year <span>2019</span></h2>
                    <p> Discover  vestibulum <span>pharetra orci turpis</span>, ut interdum </p>
                    <div class="video-content">
                        <img src="@ViewBag.image" alt="image">
                        <div class="overlay">
                            <a href="@ViewBag.video" class="popup-youtube"><i class="ficon fa fa-play-circle"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-6">
                            <div class="funfact-item">
                                <div class="icon-box">
                                    <i class="fa fa-location-arrow"></i>
                                    @Html.Raw(item.Body)
                                </div>
                                <div class="content">
                                    <h2>@item.Title</h2>
                                    <h3><a href="#">@item.Description</a></h3>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Funfact Section End -->