@model Stack<WebModule>

<div class="col-12" style="padding: 0;">

    <!-- Sub Navigation
            ================================================== -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">  <a href="/"> <i class="fa fa-home" aria-hidden="true"></i>  </a></li>
        @if (Model != null && Model.Count > 0)
        {

            do
            {
                WebModule module = Model.Pop();
                if (module.UID != "footer")
                {
                    if (string.IsNullOrEmpty(module.UID) || string.IsNullOrWhiteSpace(module.UID))
                    {
                        if (string.IsNullOrEmpty(module.URL) || string.IsNullOrWhiteSpace(module.URL))
                        {

                            <li class="breadcrumb-item">  <a href="/">@module.Title   </a></li>
                        }
                        else
                        {
                            <li class="breadcrumb-item">  <a href="@module.URL target=" @module.Target> @module.Title </a></li>
                        }
                    }
                    else
                    {
                        if (string.IsNullOrEmpty(module.URL) || string.IsNullOrWhiteSpace(module.URL))
                        {
                            <li class="breadcrumb-item">      @Html.ActionLink(@module.Title, "Index", "Home", new { metatitle = module.MetaTitle != null ? module.MetaTitle : "gym", id = module.ID }, new { title = module.Title })</li>
                        }
                        else
                        {
                            <li class="breadcrumb-item"><a href="@module.URL target=" @module.Target>@module.Title </a></li>
                        }
                    }
                }
                module = module.Parent;
            }
            while (Model.Count != 0);
        }
    </ol>
</div>