@model List<WebModels.WebContent>
@{
    TempData["Title"] = @Resources.Common.SearchResults;
    Layout = "~/Views/Shared/_Layout.cshtml";

}


        <!-- Inner Section Start -->
        <section class="inner-area parallax-bg" style="background: url('/images/px-1.jpg')">
            <div class="container">
                <div class="section-content">
                    <div class="row">
                        <div class="col-12">
                            <h4> Kết quả tìm kiếm </h4>
                            <p>
                                Trang chủ
                                <a area="" href="/tim-kiem" title="Tìm kiếm"> Tìm kiếm </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Inner Section End -->

        @Html.Action("_FrmSearch", "Home", new { area = "ContentType" })


        <!-- Special Packages Section Start -->
        <section class="pt-50 pb-40">
            @if (ViewBag.isViewTourTrongNuoc)
            {
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="inner-title">
                                <h2>Tour <span>Trong Nước</span></h2>
                            </div>
                            <div class="sec-line mb-20"></div>
                        </div>                      
                    </div>
                    <div class="row grid-mb">
                        @foreach (var ids in ViewBag.lstTourTrongNuocsIds)
                        {
                            var lstTour = Model.Where(x => x.WebModuleID == ids);

                            foreach (var item in lstTour)
                            {
                                var img = string.IsNullOrEmpty(item.Image) ? ApplicationService.NoImage : item.Image;
                                var urlContent = Url.Action("Detail", "Home", new
                                {
                                    metatitle = item.MetaTitle != null ? item.MetaTitle : "web",
                                    m_metatitle = item.WebModule.MetaTitle != null ? item.WebModule.MetaTitle : "web",
                                    area = ""
                                });

                                <div class="col-md-4">
                                    <div class="special-packages">
                                        <div class="thumb">
                                            <a href="@urlContent" alt="@item.Title"> </a>
                                            <img src="@img" alt="@item.Title">
                                            @if (item.ProductInfo.Discount > 0)
                                            {
                                                <div class="offer-price"> Off @item.ProductInfo.Discount%</div>
                                            }
                                            <div class="post-title-box">

                                                <div class="title">
                                                    <a href="@urlContent" alt="@item.Title">  <h2>  @item.Title </h2> </a>
                                                </div>

                                                <div class="title-box">
                                                    @if (item.ProductInfo.Discount > 0)
                                                    {
                                                        <h4> @String.Format("{0:N0}", item.ProductInfo.PriceOld)₫</h4>
                                                    }
                                                </div>
                                                <div class="price-box">
                                                    <h5> @String.Format("{0:N0}", item.ProductInfo.Price)₫ </h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="infor">
                                                <div class="pull-left" style="width: 50%;">
                                                    <ul class="info">
                                                        <li>
                                                            <a href="#"><i class="fa fa-calendar"></i> @item.ProductInfo.DepartureTime </a>
                                                            <br />
                                                            <a href="#"><i class="fa fa-calendar-check-o"></i>@item.ProductInfo.TourTime</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="pull-left" style="width: 50%; text-align: right; margin-top: 8px;">
                                                    @{
                                                        var lstTrans = string.IsNullOrEmpty(item.ProductInfo.Transportation) ? new List<string>() : item.ProductInfo.Transportation.Split(',').ToList();

                                                        foreach (var trans in lstTrans)
                                                        {

                                                            if (!string.IsNullOrWhiteSpace(trans))
                                                            {
                                                                <div class="btn"> <i class="fa fa-@trans"></i> </div>
                                                            }
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="clearfix"></div>
                </div>
            }
            @if (ViewBag.isViewTourNuocNgoai)
            {
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="inner-title">
                                <h2>Tour <span> Nước Ngoài</span></h2>
                            </div>
                            <div class="sec-line mb-20"></div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="row grid-mb">
                        @foreach (var ids in ViewBag.lstTourNuocNgoaiIds)
                        {
                            var lstTour = Model.Where(x => x.WebModuleID == ids);

                            foreach (var item in lstTour)
                            {
                                var img = string.IsNullOrEmpty(item.Image) ? ApplicationService.NoImage : item.Image;
                                var urlContent = Url.Action("Detail", "Home", new
                                {
                                    metatitle = item.MetaTitle != null ? item.MetaTitle : "web",
                                    m_metatitle = item.WebModule.MetaTitle != null ? item.WebModule.MetaTitle : "web",
                                    area = ""
                                });

                                <div class="col-md-4">
                                    <div class="special-packages">
                                        <div class="thumb">
                                            <a href="@urlContent" alt="@item.Title"> </a>
                                            <img src="@img" alt="@item.Title">
                                            @if (item.ProductInfo.Discount > 0)
                                            {
                                                <div class="offer-price"> Off @item.ProductInfo.Discount%</div>
                                            }
                                            <div class="post-title-box">

                                                <div class="title">
                                                    <a href="@urlContent" alt="@item.Title">  <h2>  @item.Title </h2> </a>
                                                </div>

                                                <div class="title-box">
                                                    @if (item.ProductInfo.Discount > 0)
                                                    {
                                                        <h4> @String.Format("{0:N0}", item.ProductInfo.PriceOld)₫</h4>
                                                    }
                                                </div>
                                                <div class="price-box">
                                                    <h5> @String.Format("{0:N0}", item.ProductInfo.Price)₫ </h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="infor">
                                                <div class="pull-left" style="width: 50%;">
                                                    <ul class="info">
                                                        <li>
                                                            <a href="#"><i class="fa fa-calendar"></i> @item.ProductInfo.DepartureTime </a>
                                                            <br />
                                                            <a href="#"><i class="fa fa-calendar-check-o"></i>@item.ProductInfo.TourTime</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="pull-left" style="width: 50%; text-align: right; margin-top: 8px;">
                                                    @{
                                                        var lstTrans = string.IsNullOrEmpty(item.ProductInfo.Transportation) ? new List<string>() : item.ProductInfo.Transportation.Split(',').ToList();

                                                        foreach (var trans in lstTrans)
                                                        {

                                                            if (!string.IsNullOrWhiteSpace(trans))
                                                            {
                                                                <div class="btn"> <i class="fa fa-@trans"></i> </div>
                                                            }
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>

                    <div class="clearfix"></div>
                </div>
            }

            @if (ViewBag.isViewComboTour)
            {
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="inner-title">
                                <h2>Combo <span>Tour</span></h2>
                            </div>
                            <div class="sec-line mb-20"></div>
                        </div>
                    </div>
                    <div class="row grid-mb">
                        @foreach (var ids in ViewBag.lstComboTourIds)
                        {
                            var lstTour = Model.Where(x => x.WebModuleID == ids);

                            foreach (var item in lstTour)
                            {
                                var img = string.IsNullOrEmpty(item.Image) ? ApplicationService.NoImage : item.Image;
                                var urlContent = Url.Action("Detail", "Home", new
                                {
                                    metatitle = item.MetaTitle != null ? item.MetaTitle : "web",
                                    m_metatitle = item.WebModule.MetaTitle != null ? item.WebModule.MetaTitle : "web",
                                    area = ""
                                });

                                <div class="col-md-4">
                                    <div class="special-packages">
                                        <div class="thumb">
                                            <a href="@urlContent" alt="@item.Title"> </a>
                                            <img src="@img" alt="@item.Title">
                                            @if (item.ProductInfo.Discount > 0)
                                            {
                                                <div class="offer-price"> Off @item.ProductInfo.Discount%</div>
                                            }
                                            <div class="post-title-box">

                                                <div class="title">
                                                    <a href="@urlContent" alt="@item.Title">  <h2>  @item.Title </h2> </a>
                                                </div>

                                                <div class="title-box">
                                                    @if (item.ProductInfo.Discount > 0)
                                                    {
                                                        <h4> @String.Format("{0:N0}", item.ProductInfo.PriceOld)₫</h4>
                                                    }
                                                </div>
                                                <div class="price-box">
                                                    <h5> @String.Format("{0:N0}", item.ProductInfo.Price)₫ </h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="infor">
                                                <div class="pull-left" style="width: 50%;">
                                                    <ul class="info">
                                                        <li>
                                                            <a href="#"><i class="fa fa-calendar"></i> @item.ProductInfo.DepartureTime </a>
                                                            <br />
                                                            <a href="#"><i class="fa fa-calendar-check-o"></i>@item.ProductInfo.TourTime</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="pull-left" style="width: 50%; text-align: right; margin-top: 8px;">
                                                    @{
                                                        var lstTrans = string.IsNullOrEmpty(item.ProductInfo.Transportation) ? new List<string>() : item.ProductInfo.Transportation.Split(',').ToList();

                                                        foreach (var trans in lstTrans)
                                                        {

                                                            if (!string.IsNullOrWhiteSpace(trans))
                                                            {
                                                                <div class="btn"> <i class="fa fa-@trans"></i> </div>
                                                            }
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>

                    <div class="clearfix"></div>
                </div>
            }
        </section>
        <!-- Special Packages Section End -->
