<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>
        @TempData["Title"]
    </title>
    <meta name="description" content="@TempData["Description"]" />
    <meta name="keywords" content="@TempData["Keywords"]" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap and Jquery scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/themes/web/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/themes/web/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Content/themes/web/css/menu.css">
    <link rel="stylesheet" href="~/Content/themes/web/css/custom-animation.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/Content/themes/web/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/themes/web/css/responsive.css">

    @RenderSection("scripts", required: false)


</head>
<body class="home home2">
    <!-- navbar -->
 


    @RenderBody()


    @*@Html.Action("_Menu_Footer", "Navigation", new { area = "", key = "footer" })*@


    <div class="preloader"></div>

    <!-- Start Page Wrapper  -->
    <div class="page-wrapper">
        @Html.Action("_Main", "Navigation", new { key = "main", area = "" })
      
        <!-- Slick Section Start -->
        <section class="slider-wrapper p-0">
            <div id="slider-style-one" class="carousel slide bs-slider control-round indicators-line" data-ride="carousel"
                 data-pause="hover" data-interval="5000">

                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#slider-style-one" data-slide-to="0" class="active"></li>
                    <li data-target="#slider-style-one" data-slide-to="1"></li>
                    <li data-target="#slider-style-one" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper For Slides -->
                <div class="carousel-inner" role="listbox">

                    <!-- Third Slide -->
                    <div class="carousel-item active">

                        <!-- Slide Background -->
                        <img src="images/slider/1.jpg" alt="Slider Images" class="slide-image" />

                        <div class="bs-slider-overlay"></div>

                        <div class="container">
                            <div class="row">
                                <!-- Slide Text Layer -->
                                <div class="slide-text home-3 slide-style-center">
                                    <div class="sub-title">
                                        <h4>we provide</h4>
                                    </div>
                                    <div class="title-box">
                                        <h2>Best <span>Tour</span> Pacakage In Your <span>Budget</span></h2>
                                    </div>
                                    <div class="btn-box">
                                        <a href="#" class="btn-theme">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Slide -->
                    <!-- Third Slide -->
                    <div class="carousel-item">

                        <!-- Slide Background -->
                        <img src="images/slider/2.jpg" alt="Slider Images" class="slide-image" />

                        <div class="bs-slider-overlay"></div>

                        <div class="container">

                            <div class="row">
                                <!-- Slide Text Layer -->
                                <div class="slide-text home-3 slide-style-center">
                                    <div class="sub-title">
                                        <h4>we provide</h4>
                                    </div>
                                    <div class="title-box">
                                        <h2>Best <span>Tour</span> Pacakage In Your <span>Budget</span></h2>
                                    </div>
                                    <div class="btn-box">
                                        <a href="#" class="btn-theme">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Slide -->
                    <!-- Third Slide -->
                    <div class="carousel-item">

                        <!-- Slide Background -->
                        <img src="images/slider/3.jpg" alt="Slider Images" class="slide-image" />

                        <div class="bs-slider-overlay"></div>

                        <div class="container">

                            <div class="row">
                                <!-- Slide Text Layer -->
                                <div class="slide-text home-3 slide-style-center">
                                    <div class="sub-title">
                                        <h4>we provide</h4>
                                    </div>
                                    <div class="title-box">
                                        <h2>Best <span>Tour</span> Pacakage In Your <span>Budget</span></h2>
                                    </div>
                                    <div class="btn-box">
                                        <a href="#" class="btn-theme">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Slide -->

                </div>
                <!-- End of Wrapper For Slides -->
                <!-- Left Control -->
                <a class="left carousel-control" href="#slider-style-one" role="button" data-slide="prev">
                    <span class="fa fa-angle-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>

                <!-- Right Control -->
                <a class="right carousel-control" href="#slider-style-one" role="button" data-slide="next">
                    <span class="fa fa-angle-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>
            <!-- End  slider-style-one Slider -->
        </section>
        <!-- Slick Section End -->
        <!-- Welcome Section Start -->
        <section class="welcome-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="icon-wrp">
                            <div class="icon-box">
                                <i class="fa fa-wifi"></i>
                                <h5>Travel</h5>
                                <a href="#">view more</a>
                            </div>
                            <div class="icon-box">
                                <i class="fa fa-crosshairs"></i>
                                <h5>Packages</h5>
                                <a href="#">view more</a>
                            </div>
                            <div class="icon-box">
                                <i class="fa fa-plane"></i>
                                <h5>Vehicle</h5>
                                <a href="#">view more</a>
                            </div>
                            <div class="icon-box">
                                <i class="fa fa-umbrella"></i>
                                <h5>Hoteel</h5>
                                <a href="#">view more</a>
                            </div>
                            <div class="icon-box">
                                <i class="fa fa-map-marker"></i>
                                <h5>Location</h5>
                                <a href="#">view more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Welcome Section End -->
        <!-- Special Places Section Start -->
        <section class="special-places-sec pb-80">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h4>Welcome to Touran Travel</h4>
                        <h2>Special <span>Tour</span> Places</h2>
                        <p>Deserunt quia ducimus ut illum optio cum eum voluptate corrupti numquam</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="specialplaces_carousel owl-carousel owl-theme owl-navst">
                            <div class="item">
                                <div class="special-places">
                                    <div class="thumb">
                                        <img src="images/service/1.jpg" alt="">
                                    </div>
                                    <div class="content">
                                        <div class="price-box">
                                            <h5><span>$</span>400</h5>
                                            <h6>Starts From</h6>
                                        </div>
                                        <div class="title-box">
                                            <h4>Redilova Tour Place</h4>
                                            <h3>peelamedu, cbe, india</h3>
                                        </div>
                                        <ul class="info">
                                            <li><a href="#"><i class="fa fa-calendar"></i>4 Days</a></li>
                                            <li><a href="#"><i class="fa fa-user"></i>2 Person</a></li>
                                            <li><a href="#"><i class="fa fa-map-marker"></i>View on Map</a></li>
                                        </ul>
                                        <p>Travel adipisicing elit. Quia tempore, ex delectus rerum optio sapiente, magnam ullam ipsum swit voluptate maxime blanditiis deleniti dicta.</p>
                                        <h5 class="share-btn"><i class="fa fa-share-alt"></i> Share</h5>
                                        <a class="btn-theme" href="#">View Details</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="special-places">
                                    <div class="thumb">
                                        <img src="images/service/2.jpg" alt="">
                                    </div>
                                    <div class="content">
                                        <div class="price-box">
                                            <h5><span>$</span>400</h5>
                                            <h6>Starts From</h6>
                                        </div>
                                        <div class="title-box">
                                            <h4>Mountain adventure</h4>
                                            <h3>peelamedu, cbe, india</h3>
                                        </div>
                                        <ul class="info">
                                            <li><a href="#"><i class="fa fa-calendar"></i>4 Days</a></li>
                                            <li><a href="#"><i class="fa fa-user"></i>2 Person</a></li>
                                            <li><a href="#"><i class="fa fa-map-marker"></i>View on Map</a></li>
                                        </ul>
                                        <p>Travel adipisicing elit. Quia tempore, ex delectus rerum optio sapiente, magnam ullam ipsum swit voluptate maxime blanditiis deleniti dicta.</p>
                                        <h5 class="share-btn"><i class="fa fa-share-alt"></i> Share</h5>
                                        <a class="btn-theme" href="#">View Details</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="special-places">
                                    <div class="thumb">
                                        <img src="images/service/3.jpg" alt="">
                                    </div>
                                    <div class="content">
                                        <div class="price-box">
                                            <h5><span>$</span>400</h5>
                                            <h6>Starts From</h6>
                                        </div>
                                        <div class="title-box">
                                            <h4>Adventure swimming</h4>
                                            <h3>peelamedu, cbe, india</h3>
                                        </div>
                                        <ul class="info">
                                            <li><a href="#"><i class="fa fa-calendar"></i>4 Days</a></li>
                                            <li><a href="#"><i class="fa fa-user"></i>2 Person</a></li>
                                            <li><a href="#"><i class="fa fa-map-marker"></i>View on Map</a></li>
                                        </ul>
                                        <p>Travel adipisicing elit. Quia tempore, ex delectus rerum optio sapiente, magnam ullam ipsum swit voluptate maxime blanditiis deleniti dicta.</p>
                                        <h5 class="share-btn"><i class="fa fa-share-alt"></i> Share</h5>
                                        <a class="btn-theme" href="#">View Details</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="special-places">
                                    <div class="thumb">
                                        <img src="images/service/2.jpg" alt="">
                                    </div>
                                    <div class="content">
                                        <div class="price-box">
                                            <h5><span>$</span>400</h5>
                                            <h6>Starts From</h6>
                                        </div>
                                        <div class="title-box">
                                            <h4>Ratargul gorgeous</h4>
                                            <h3>peelamedu, cbe, india</h3>
                                        </div>
                                        <ul class="info">
                                            <li><a href="#"><i class="fa fa-calendar"></i>4 Days</a></li>
                                            <li><a href="#"><i class="fa fa-user"></i>2 Person</a></li>
                                            <li><a href="#"><i class="fa fa-map-marker"></i>View on Map</a></li>
                                        </ul>
                                        <p>Travel adipisicing elit. Quia tempore, ex delectus rerum optio sapiente, magnam ullam ipsum swit voluptate maxime blanditiis deleniti dicta.</p>
                                        <h5 class="share-btn"><i class="fa fa-share-alt"></i> Share</h5>
                                        <a class="btn-theme" href="#">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Special Places Section End -->
        <!-- Features Section Start -->
        <section class="feature-section over-layer-black pt-75 pb-80">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h4>Touran Travel Features</h4>
                        <h2>Why <span>Choose</span> Touran</h2>
                        <p>Deserunt quia ducimus ut illum optio cum eum voluptate corrupti numquam</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="feature-item">
                            <div class="icon-box">
                                <i class="flaticon-like"></i>
                            </div>
                            <div class="content">
                                <h3><a href="#">Years of <span>experience</span></a></h3>
                                <p>dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-item">
                            <div class="icon-box">
                                <i class="flaticon-manager"></i>
                            </div>
                            <div class="content">
                                <h3><a href="#">Expert Tour <span>Guide</span></a></h3>
                                <p>dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-item">
                            <div class="icon-box">
                                <i class="flaticon-heart-1"></i>
                            </div>
                            <div class="content">
                                <h3><a href="#">Beautiful <span>Tour Place</span></a></h3>
                                <p>dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Process Section End -->
        <!-- Special Packages Section Start -->
        <section class="special-packages-sec pt-75 pb-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="section-title stitle-left">
                            <h4>Our special packages</h4>
                            <h2>Special <span>Packages</span> Offer</h2>
                            <p>Deserunt quia ducimus ut illum optio cum eum voluptate corrupti numquam travel ipsum dolor consectetur adipisicing. Quia tempore, ex delectus rerum optio sapiente, magnam ullam </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9 col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="special-packages">
                                    <div class="thumb">
                                        <img src="images/features/1.jpg" alt="">
                                        <div class="offer-price"> Off 40%</div>
                                        <div class="post-title-box">
                                            <div class="price-box">
                                                <h5><span>$</span>400</h5>
                                                <h6>Starts From</h6>
                                            </div>
                                            <div class="title-box">
                                                <h4>Redilova Tour Place</h4>
                                                <h3>peelamedu, cbe, india</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <ul class="info">
                                            <li><a href="#"><i class="fa fa-calendar"></i>4 Days</a></li>
                                            <li><a href="#"><i class="fa fa-user"></i>2 Person</a></li>
                                            <li><a href="#"><i class="fa fa-map-marker"></i>View on Map</a></li>
                                        </ul>
                                        <p>Travel ipsum dolor sit amet, consectetur adipisicing. Quia tempore, ex delectus rerum optio sapiente, magnam ullam ipsum voluptate maxime blanditiis.</p>
                                        <div class="small-hotel">
                                            <div class="text">
                                                <h6>Hotels to Stay</h6>
                                                <h5>Hotel Saladi Tajo</h5>
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                                                    <li><a href="#"><i class="fa  fa-star-o"></i></a></li>
                                                    <li><a href="#">(3 Ratings)</a></li>
                                                </ul>
                                                <a class="map-viw" href="#"><i class="fa fa-map-marker"></i>View on Map</a>
                                            </div>
                                            <div class="thumb">
                                                <img src="images/features/sm1.jpg" alt="">
                                                <img src="images/features/sm2.jpg" alt="">
                                            </div>
                                        </div>
                                        <h5 class="share-btn"><i class="fa fa-share-alt"></i> Share</h5>
                                        <a class="btn-theme" href="#">View Details</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="special-packages">
                                    <div class="thumb">
                                        <img src="images/features/2.jpg" alt="">
                                        <div class="offer-price"> Off 40%</div>
                                        <div class="post-title-box">
                                            <div class="price-box">
                                                <h5><span>$</span>400</h5>
                                                <h6>Starts From</h6>
                                            </div>
                                            <div class="title-box">
                                                <h4>Adventure swimming</h4>
                                                <h3>peelamedu, cbe, india</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <ul class="info">
                                            <li><a href="#"><i class="fa fa-calendar"></i>4 Days</a></li>
                                            <li><a href="#"><i class="fa fa-user"></i>2 Person</a></li>
                                            <li><a href="#"><i class="fa fa-map-marker"></i>View on Map</a></li>
                                        </ul>
                                        <p>Travel ipsum dolor sit amet, consectetur adipisicing. Quia tempore, ex delectus rerum optio sapiente, magnam ullam ipsum voluptate maxime blanditiis.</p>
                                        <div class="small-hotel">
                                            <div class="text">
                                                <h6>Hotels to Stay</h6>
                                                <h5>Hotel Saladi Tajo</h5>
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                                                    <li><a href="#"><i class="fa  fa-star-o"></i></a></li>
                                                    <li><a href="#">(3 Ratings)</a></li>
                                                </ul>
                                                <a class="map-viw" href="#"><i class="fa fa-map-marker"></i>View on Map</a>
                                            </div>
                                            <div class="thumb">
                                                <img src="images/features/sm1.jpg" alt="">
                                                <img src="images/features/sm2.jpg" alt="">
                                            </div>
                                        </div>
                                        <h5 class="share-btn"><i class="fa fa-share-alt"></i> Share</h5>
                                        <a class="btn-theme" href="#">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-0">
                        <div class="add-box thumb">
                            <img src="images/features/ad-1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Special Packages Section End -->
        <!-- Funfact Section Start -->
        <section class="funfact-section over-layer-black pt-80 pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="video-sec">
                            <h2>Travel <span>Award</span> Year <span>2019</span></h2>
                            <p> Discover  vestibulum <span>pharetra orci turpis</span>, ut interdum </p>
                            <div class="video-content">
                                <img src="images/photos/video-img.png" alt="image">
                                <div class="overlay">
                                    <a href="https://www.youtube.com/watch?v=7e90gBu4pas" class="popup-youtube"><i class="ficon fa fa-play-circle"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="funfact-item">
                                    <div class="icon-box">
                                        <i class="fa fa-location-arrow"></i>
                                    </div>
                                    <div class="content">
                                        <h2>2583</h2>
                                        <h3><a href="#">Travel Package</a></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="funfact-item">
                                    <div class="icon-box">
                                        <i class="fa fa-plane"></i>
                                    </div>
                                    <div class="content">
                                        <h2>1879</h2>
                                        <h3><a href="#">Locations Made</a></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="funfact-item">
                                    <div class="icon-box">
                                        <i class="fa fa-users"></i>
                                    </div>
                                    <div class="content">
                                        <h2>7215</h2>
                                        <h3><a href="#">Satisfied Client</a></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="funfact-item">
                                    <div class="icon-box">
                                        <i class="fa fa-thumbs-up"></i>
                                    </div>
                                    <div class="content">
                                        <h2>1639</h2>
                                        <h3><a href="#">Recomended Trip</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Funfact Section End -->
        <!-- Latest Hotel Section Start -->
        <section class="latest-hotel-sec pt-75 pb-65">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h4>Touran Hotel Collection</h4>
                        <h2>Latest <span>Hotel</span> Collection</h2>
                        <p>Deserunt quia ducimus ut illum optio cum eum voluptate corrupti numquam</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="latest-hotel">
                            <div class="thumb">
                                <img src="images/photos/hotel-1.jpg" alt="">
                            </div>
                            <div class="content">
                                <h4>Hotel Peelamedu Tom</h4>
                                <h5>peelamedu, cbe, india</h5>
                                <ul>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                                    <li><a href="#"><i class="fa  fa-star-o"></i></a></li>
                                    <li><a href="#">(3 Ratings)</a></li>
                                </ul>
                                <p>consectetur adipoing elit. Vestibulum pharetra in. Integer lacinia lectus...</p>
                                <a class="map-viw" href="#"><i class="fa fa-map-marker"></i>View on Map</a>
                                <h3>Off <span>-30%</span></h3>
                                <a class="btn-theme" href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="latest-hotel">
                            <div class="thumb">
                                <img src="images/photos/hotel-2.jpg" alt="">
                            </div>
                            <div class="content">
                                <h4>Hotel Raleepado Due</h4>
                                <h5>peelamedu, cbe, india</h5>
                                <ul>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                                    <li><a href="#"><i class="fa  fa-star-o"></i></a></li>
                                    <li><a href="#">(3 Ratings)</a></li>
                                </ul>
                                <p>consectetur adipoing elit. Vestibulum pharetra in. Integer lacinia lectus...</p>
                                <a class="map-viw" href="#"><i class="fa fa-map-marker"></i>View on Map</a>
                                <h3>Off <span>-30%</span></h3>
                                <a class="btn-theme" href="#">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Latest Hotel Section End -->
        <!-- Global Section Start -->
        <section class="global-section over-layer-white pt-75 pb-65">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-12">
                        <div class="global-area">
                            <div class="inner-title">
                                <h2>Now We Are Globaly Everywhare</h2>
                                <h3>Discover  vestibulum <span>pharetra orci turpis</span>, ut interdum </h3>
                                <div class="sec-line"></div>
                            </div>
                            <p>Pellentesque consectetur condimentum libero, interdum aliquet enim sollic tudin ut. Donec dapibus tempor odio eu aliquet. Vivamus ultricies augue ut.</p>
                            <h4>Condimentum at sed sapien:</h4>
                            <ul>
                                <li>consectetur adipting elit.</li>
                                <li>consectetur adipting elit.</li>
                                <li>consectetur adipting elit.</li>
                                <li>consectetur adipting elit.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-8 col-md-10">
                        <div class="map-area">
                            <img src="images/photos/map01.png" alt="image">
                        </div>
                        <p class="map-content">Discover  vestibulum <span class="color-light">Call:</span> <span>+88095085363</span>, ut interdum </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Global Section End -->
        <!-- Testimonials Section Start -->
        <section class="testimonials-section pt-80 pb-80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="inner-title">
                            <h2>Our <span>Client's Say</span></h2>
                            <div class="sec-line mb-40"></div>
                        </div>
                        <div class="testimonials-post testimonials_slide owl-carousel owl-theme owl-navst st-three">
                            <div class="testimonials-item">
                                <div class="thumb">
                                    <img src="images/testimonials/1.jpg" alt="">
                                </div>
                                <div class="content">
                                    <h5>Horem Due <small>- Traveler ut illum</small></h5>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                                        <li><a href="#"><i class="fa  fa-star-o"></i></a></li>
                                    </ul>
                                    <p><i class="fa fa-quote-left"></i> If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle often repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                </div>
                            </div>
                            <div class="testimonials-item">
                                <div class="thumb">
                                    <img src="images/testimonials/1.jpg" alt="">
                                </div>
                                <div class="content">
                                    <h5>Horem Due <small>- Traveler ut illum</small></h5>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                                        <li><a href="#"><i class="fa  fa-star-o"></i></a></li>
                                    </ul>
                                    <p><i class="fa fa-quote-left"></i> If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle often repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="testimonial-video mb-0">
                            <h5>Latest Hotel Reviews</h5>
                            <div class="sec-line mb-20"></div>
                            <h3><i class="fa fa-quote-left"></i> If you are going to use a passage of Lorem Ipsum, you need to be on sure there isn’t anything embarras repeat predefined chunks as.</h3>
                            <a class="btn-theme popup-youtube" href="https://www.youtube.com/watch?v=7e90gBu4pas"><i class="fa fa-play-circle"></i> Play Video</a>
                            <div class="review-ratings">
                                <a class="ratings-star" href="#">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-empty"></i>
                                    <i class="fa fa-star-o"></i>
                                </a>
                                <a class="ratings-count" href="#">(3 Ratings)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonials Section End -->
        <!-- App Section Start -->
        <section class="app-section over-layer-white pt-75 pb-80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="inner-title title-center">
                            <h2>Now We Are Globaly Everywhare</h2>
                            <h3>Discover  vestibulum <span>pharetra orci turpis</span>, ut interdum </h3>
                            <div class="sec-line line-center"></div>
                        </div>
                        <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                        <a class="btn-theme" href="#">Download App</a>
                        <a class="btn-theme btn-two" href="#">Subscribe Now</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- App Section End -->
        <!-- Blog Section Start -->
        <section class="blog-section pt-75 pb-50">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h4>Our latest blog</h4>
                        <h2>Touran <span>Latest</span> Blog</h2>
                        <p>Consectetur adipisicing elit. Excepturi nemo tenetur veniam repellat earum inventore modi omnis.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="blog-post">
                            <div class="thumb">
                                <img alt="" src="images/blog/1.jpg">
                                <div class="content">
                                    <h3>Summer Vacation Travel On gratest global mounten</h3>
                                    <div class="meta-box">
                                        <div class="admin-post"> Admin, TributeTheme </div>
                                        <div class="inner">
                                            <div class="date">
                                                <i class="fa fa-calendar-plus-o"></i> Feb 24
                                            </div>
                                            <div class="comment">
                                                <i class="fa fa-commenting-o"></i> 8
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="blog-details.html" class="read-btn">
                                Continue Reading
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="blog-post">
                            <div class="thumb">
                                <img alt="" src="images/blog/2.jpg">
                                <div class="content">
                                    <h3>Winter Vacation Travel On beautiful tour package</h3>
                                    <div class="meta-box">
                                        <div class="admin-post"> Admin, TributeTheme </div>
                                        <div class="inner">
                                            <div class="date">
                                                <i class="fa fa-calendar-plus-o"></i> Feb 24
                                            </div>
                                            <div class="comment">
                                                <i class="fa fa-commenting-o"></i> 8
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="blog-details.html" class="read-btn">
                                Continue Reading
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-0">
                        <div class="blog-post">
                            <div class="thumb">
                                <img alt="" src="images/blog/3.jpg">
                                <div class="content">
                                    <h3>Summer Vacation Travel On gratest global Tower</h3>
                                    <div class="meta-box">
                                        <div class="admin-post"> Admin, TributeTheme </div>
                                        <div class="inner">
                                            <div class="date">
                                                <i class="fa fa-calendar-plus-o"></i> Feb 24
                                            </div>
                                            <div class="comment">
                                                <i class="fa fa-commenting-o"></i> 8
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="blog-details.html" class="read-btn">
                                Continue Reading
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog Section End -->
        <!-- Client Section Start -->
        <section class="client-section bg-f8 pb-70 pt-75">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="client_carousel" class="owl-carousel">
                            <div class="item">
                                <div class="client-img-item">
                                    <img src="images/partner/1.png" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="client-img-item">
                                    <img src="images/partner/2.png" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="client-img-item">
                                    <img src="images/partner/3.png" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="client-img-item">
                                    <img src="images/partner/4.png" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="client-img-item">
                                    <img src="images/partner/5.png" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="client-img-item">
                                    <img src="images/partner/6.png" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="client-img-item">
                                    <img src="images/partner/2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Client Section End -->
        <!-- Footer Style Seven Start -->
        <footer class="bg-faded pt-75 pb-50 bg-theme-color-2">
            <div class="container">
                <div class="section-content">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="footer-item footer-widget-one">
                                <img class="footer-logo mb-25" src="images/logo-1.png" alt="">
                                <p>Dolorum quae quis cumque officia labore delectus at animi ducimus non nisi, dolores sapiente</p>
                                <hr>
                                <h6>Follow<span> Us</span></h6>
                                <ul class="social-icon bg-transparent bordered-theme">
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="footer-item">
                                <div class="footer-title">
                                    <h4>Our <span>Services</span></h4>
                                    <div class="border-style-3"></div>
                                </div>
                                <ul class="footer-list">
                                    <li><a href="#">Sign up to theme</a></li>
                                    <li><a href="#">Log in account</a></li>
                                    <li><a href="#">Help and support</a></li>
                                    <li><a href="#">Read our blog</a></li>
                                    <li><a href="#">Visit our help section</a></li>
                                    <li><a href="#">Donation Fund</a></li>
                                </ul>

                            </div>
                        </div>


                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="footer-item">
                                <div class="footer-title">
                                    <h4>Usefull <span>Links</span></h4>
                                    <div class="border-style-3"></div>
                                </div>
                                <ul class="footer-list">
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Team</a></li>
                                    <li><a href="#">Gallery</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>

                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="footer-item">
                                <div class="footer-title">
                                    <h4>Quick <span>Contact</span></h4>
                                    <div class="border-style-3"></div>
                                </div>
                                <ul class="footer-list footer-contact mb-10">
                                    <li><i class="pe-7s-call"></i> Phone: 001 (407) 901-6400</li>
                                    <li><i class="pe-7s-print"></i> Fax: 001 (407) 901-6400</li>
                                    <li><i class="pe-7s-mail"></i> <a href="mailto:">Email: info@bdCoder.com</a></li>
                                </ul>
                                <div class="footer-item">
                                    <h6>News <span>letter</span></h6>
                                    <div class="input-group subscribe-style-two">
                                        <input type="email" class="form-control input-subscribe" placeholder="Email">
                                        <span class="input-group-btn">
                                            <button class="btn btn-subscribe" type="button">Subscribe</button>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <section class="footer-copy-right bg-theme-color-2 text-white p-0">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <p>© 2019, All Rights Reserved, Design & Developed By:<a href="#"> bdCoder</a></p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer Style Seven End -->

    </div>
    <!-- End Page Wrapper  -->

    <a href="#" class="scrollup"><i class="flaticon-long-arrow-pointing-up" aria-hidden="true"></i></a>


    <!------------------------------------------
    Main JavaScript
    <------------------------------------------>
    <script src="~/Content/themes/web/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/themes/web/js/popper.min.js"></script>
    <script src="~/Content/themes/web/js/bootstrap.min.js"></script>


    <!-- Optional JavaScript -->
    <script src="~/Content/themes/web/js/bootstrap-dropdownhover.min.js"></script>
    <script src="~/Content/themes/web/js/bootstrap-slider.js"></script>
    <script src="~/Content/themes/web/js/jquery.flexslider-min.js"></script>
    <script src="~/Content/themes/web/js/slick.min.js"></script>
    <script src="~/Content/themes/web/js/owl.carousel.min.js"></script>
    <script src="~/Content/themes/web/js/css3-animate-it.js"></script>
    <script src="~/Content/themes/web/js/magnific-popup.min.js"></script>
    <script src="~/Content/themes/web/js/jquery.fancybox.js"></script>
    <script src="~/Content/themes/web/js/player-min.js"></script>

    <!-- Custom JavaScript -->
    <script src="~/Content/themes/web/js/script.js"></script>

</body>
</html>
