<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>
        @TempData["Title"]
    </title>
    <meta name="description" content="@TempData["Description"]" />
    <meta name="keywords" content="@TempData["Keywords"]" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
  
    <!-- Bootstrap and Jquery scripts -->
    @*<script src="~/Content/themes/web/js/jquery-3.1.1.min.js"></script>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/themes/web/js/bootstrap.min.js"></script>
    <script src="~/Content/themes/web/js/popper.min.js"></script>

    <!-- Aditional scripts -->
    <script src="~/Content/themes/web/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/themes/web/js/smooth-scroll.min.js"></script>
    <script src="~/Content/themes/web/js/instafeed.min.js"></script>
    <script src="~/Content/themes/web/js/ofi.js"></script>

    <!-- Main scripts -->
    <script src="~/Content/themes/web/js/main.js"></script>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/Content/themes/web/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/themes/web/css/all.css">

    <link rel="stylesheet" href="~/Content/themes/web/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/themes/web/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/themes/web/css/style.css" type="text/css">
  
    @RenderSection("scripts", required: false)

   
</head>
<body class="home home2">
    <!-- navbar -->
    @Html.Action("_Main", "Navigation", new { key = "main", area = "" })

    <!-- End section 1-->
    @Html.Action("_PubSlide", "Home", new { area = "ContentType" })
    
    <!-- End section Slider -->
    <!-- Section 3 Search Tours-->
    @Html.Action("_FrmSearch", "Home", new { area = "ContentType" })

    @Html.Action("_PubDestinations", "Home", new { area = "ContentType" })
  
    @RenderBody()
    


    <section id="section-newsletter">
        <div class="container">
            <div class="row">
                <div class="col-12"><h4 class="text-center bold mb-5"> Why Travel with Us</h4></div>

                <div class="col-lg-4 col-12 order-1 order-lg-1 mx-auto">
                    <img class="svgcenter worldclass mb-2" src="~/Content/themes/web/assets/svgs/worldclass.svg" alt="">
                </div>

                <div class="col-lg-4 col-12 order-3 order-lg-2 mx-auto">
                    <img class="svgcenter lovetravel mt-5 mt-lg-0 mb-2" src="~/Content/themes/web/assets/svgs/lovetravel.svg" alt="">
                </div>

                <div class="col-lg-4 col-6 order-5 order-lg-3 mx-auto">
                    <img class="svgcenter parisicon mt-5 mt-lg-0 mb-2" src="~/Content/themes/web/assets/svgs/hottours.svg" alt="">
                </div>

                <div class="col-lg-4 col-12 order-2 order-lg-4">
                    @*<h6 class="mt-3 text-center">World Class Tours</h6>
                    <p class="mb-0 pt-1 px-4  black text-justify">
                        Aute consequat reprehenderit duis non eiusmod et aliqua fugiat aliqua officia do nisi.
                    </p>*@

                    @Html.Action("_Body", "WebSimpleContent", new { area = "", key = "WhyTravelWithUs1" })
                </div>
                <div class="col-lg-4 col-12 order-4 order-lg-5">
                    @*<h6 class="mt-3 text-center">Traveling with love</h6>
                    <p class="pt-1 px-4 mb-0 black text-justify">
                        Aute consequat reprehenderit duis non eiusmod et aliqua fugiat aliqua officia do nisi.
                    </p>*@
                    @Html.Action("_Body", "WebSimpleContent", new { area = "", key = "WhyTravelWithUs2" })
                </div>

                <div class="col-lg-4 col-12 order-6 order-lg-6">
                  @Html.Action("_Body", "WebSimpleContent", new { area = "", key = "WhyTravelWithUs3" })
                </div>
            </div>
        </div>

    </section>



    <div id="sectionvideo" class="videohome2 container img-fluid w-100 text-center justify-content-center align-items-center" style="background-image: url(' @Html.Action("_LinkImg", "WebSimpleContent", new { area = "", key = "img_cover_home" })');">

        <div class="row videooverlay">

            @*<div class="col-xl-7 col-12  white">
                <a class="popup-vimeo" href="https://vimeo.com/71319358?autoplay=1">
                    <img src="assets/images/indian-woman.jpg" class="img-fluid video-call" alt="">
                    <div class="play-center">
                        <i class="far fa-7x fa-play-circle front"></i>
                    </div>
                </a>
            </div>*@

            <div class="col-xl-5 col-12  mx-auto row align-items-center mt-xl-0 mt-5">
                <div class="block-transform  py-5 px-2">
                    
                    <div class=" px-sm-5 px-3">
                        @Html.Action("_Body", "WebSimpleContent", new { area = "", key = "TravelAroundTheWorld" })
                    </div>
                    <a href="@Html.Action("_Link", "WebSimpleContent", new { area = "", key = "linkHome" })" class="btn  px-4 my-3 btn-primary">@Resources.Common.SeeMore</a>
                </div>
            </div>

        </div>

    </div>


  

    @Html.Action("_Menu_Footer", "Navigation", new { area = "", key = "footer" })




</body>
</html>
