@model WebModule
@{
    var webmodule = Model;
    var urlcat = webmodule.URL;
    if (string.IsNullOrEmpty(webmodule.URL) || string.IsNullOrWhiteSpace(webmodule.URL))
    {
        urlcat = Url.Action("Index", "Home", new { metatitle = webmodule.MetaTitle != null ? webmodule.MetaTitle : "web", area = "" });
    }
    TempData["Title"] = Utility.UseStringHasValue(webmodule.SeoTitle, webmodule.Title);
    TempData["Description"] = Utility.UseStringHasValue(webmodule.MetaDescription, webmodule.Description);
    TempData["Keywords"] = Utility.UseStringHasValue(webmodule.MetaKeywords, webmodule.SeoTitle);
    TempData["URL"] = ApplicationService.Domain + urlcat;
    TempData["Cat"] = webmodule.Title;
}
<section class="inner-area parallax-bg" style="background: url('/images/px-1.jpg')" data-type="parallax" data-speed="3">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-12">
                    <h4>@webmodule.Title</h4>
                    @Html.Action("_SiteMap", "Home", new { area = "" })
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Action("_Introduce", "Article", new { area = "ContentType" })
@Html.Action("_ChooseTouran", "Article", new { area = "ContentType" })
@Html.Action("_OurTeam", "Article", new { area = "ContentType" })
@Html.Action("_TravelAward", "Article", new { area = "ContentType" })
@Html.Action("_OurClient", "Article", new { area = "ContentType" })
<section class="blog-section bg-f8 pt-75 pb-50">
    @Html.Action("_TopBlogTravel", "Home", new { area = "ContentType" })
</section>
<section class="client-section style-2 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="client_carousel" class="owl-carousel">
                    <div class="item">
                        <div class="client-img-item">
                            <img src="images/partner/1.png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-img-item">
                            <img src="images/partner/2.png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-img-item">
                            <img src="images/partner/3.png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-img-item">
                            <img src="images/partner/4.png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-img-item">
                            <img src="images/partner/5.png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-img-item">
                            <img src="images/partner/6.png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-img-item">
                            <img src="images/partner/2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Client Section End -->
